.educationCard {
  @include media-breakpoint-down(sm) {
    text-align: center;
  }

  .dateContainer {
    display: block;
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
  .dateSm {
    display: none;
    @include media-breakpoint-down(sm) {
      display: block;
    }
  }

  .flexTable {
    display: flex;
    @include media-breakpoint-down(sm) {
      display: flex;
      flex-direction: column;
    }
  }
}
