.profile-gallary-item {
  display: flex;

  @include media-breakpoint-down(sm) {
    flex-direction: column;
  }

  .image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $gray-500;
    img {
      width: 100%;
      height: auto;

      @include media-breakpoint-down(sm) {
        width: auto;
      }
    }
  }

  .content-wrapper {
    display: flex;
    flex-direction: column;
    max-width: $content-max-width;
    min-height: $content-min-height;
    max-height: $content-max-height;

    @include media-breakpoint-down(sm) {
      max-width: 100%;
    }
  }
}
