// Core
body {
  .topbar {
    background-color: $white;
  }

  .topbar__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .topbar__logo-wrapper {
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    align-items: center;
    padding-right: ($spacer);
    img {
      max-height: 28px;
    }
  }

  .topbar__search-wrapper {
    display: flex;
    flex-grow: 2;
    flex-shrink: 1;
  }

  .topbar__buttons-wrapper {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: flex-end;
    padding-left: ($spacer);

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  .topbar__mobile-menu-btn {
    display: none;
    @include media-breakpoint-down(sm) {
      display: block;
    }
  }
}
